# Entorno virtual local
.venv/
env/
venv/

# Ficheros de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Datos grandes
data/
# Si quieres dejar data/ con un README, haz:
# !data/README.md

# Experimentos: ignora cosas pesadas
experiments/*/*.log
experiments/*/*.pth
experiments/*/checkpoints/
# Si quieres ignorar TODO y solo subir un resumen, puedes usar:
# experiments/

# Ficheros temporales y herramientas internas
tmp/
_dump_txt_files.txt

# Cosas típicas
.DS_Store
*.swp
*.swo
